.top ul {display: flex;display: -webkit-flex;}
.top ul li {margin: 10px 0;flex: 1;-webkit-flex: 1;border-right: 1px solid #dedede;}
.top ul li span { color: red; padding: 0 3px;}

.cont li {display: flex;display: -webkit-flex;padding: 10px;}
.cont li .userimg { width: 50px; height: 50px;}
.cont li .userimg .levelbox { width: 20px;height: 20px; right:-5px; bottom: -5px; border-radius: 50%; background-color: #ff9000;}
.cont li .txtbox { flex: 3;-webkit-flex: 5;}
.cont li .txtbox p {  padding: 3px 12px;}
.cont li .txtbox .username { color: #1d2132;}
.cont li .txtbox .growth { color: #6b6b6b;}
.cont li .timestamp { flex: 2; -webkit-flex: 2;line-height: 50px; color: #9e9a9a}

.norecord { margin-top: 120px;}
.norecord .imgbox{ width: 60%;  }
.norecord p { padding: 20px;}

.sharenow {display: block;height: 60px; background-color: red; bottom: 0; left: 0; line-height: 60px;color: #fff;}




































































