/*违章代缴免服务费s*/
.illegalpayment-txt {color: #322f2f; line-height: 30px; padding-top: 15px;}
/*违章代缴免服务费e*/

/*会员使用协议声明s*/
.memberdeclaration-txt {color: #454444;line-height: 24px; padding-bottom: 100px; padding-top: 7px;}
.memberdeclaration-txt .top { text-indent: 2em;}
.memberdeclaration-txt .detail dl dt {color: #393939;}
/*会员使用协议声明e*/

 
