body {background-color: #f3f3f3;}
.cartype ul li { height: 45px; border-bottom: 1px solid #ececec; background-color: #fff;  }
.cartype ul li a { color: #1d2132;}
.cartype ul li .tbl-type { height:45px;}




























