body {background-color: #f3f3f3;}
.cars dl dt {color: #57585b;  height: 30px; line-height: 14px;border: 1px solid #ececec; }
.cars dl dd { color: #1d2132; height: 45px; line-height:16px; background-color: #fff; border-bottom: 1px solid #ececec}
.cars dl dd a { color: #1d2132;}
.cars dl dt .tbl-type {height:30px;}
.cars dl dd .tbl-type {height:45px;}





























